<!DOCTYPE html>
<html lang="en">
<head>
    <title>EMAIL VERIFICATION</title>
</head>
<body>
    <h1>Halo{{username}}</h1>
    <h2>WELCOME TO TIKO</h2>
    <a href={{link}}><button>Verify</button></a>
</body>
</html>